<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Welcome to the Home Page</h1>
<a th:href="@{/products/add}">Add Product</a>
<a th:href="@{/cart/view}">View Cart</a>
<a th:href="@{/wishlist/view}">View Wishlist</a>

<h2>Products</h2>

<div class="product-grid">
    <div class="product-card" th:each="product : ${products}">
        <img th:src="@{'/images/' + ${product.imageName}}" alt="Image" />
        <h3 th:text="${product.name}">Product Name</h3>
        <p th:text="${product.description}">Description</p>
        <p><strong>₹ <span th:text="${product.price}">0.0</span></strong></p>

        <form th:action="@{'/cart/add/' + ${product.id}}" method="post">
            <button type="submit">Add to Cart</button>
        </form>
        <form th:action="@{'/wishlist/add/' + ${product.id}}" method="post">
            <button type="submit">Add to Wishlist</button>
        </form>
    </div>
</div>
    <hr>
</body>
</html>
